{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "> 0.5% in CH",
          "> 0.5% in DE",
          "> 0.5% in IT",
          "last 2 versions",
          "Firefox ESR"
        ]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime"
  ]
}
